@model IEnumerable<cumalative.Models.Teacher>
    @{
    ViewBag.Title = "List";
    }

    <h2>List</h2>
    <p>This page should be showing information about all teachers</p>

    <div id="containerlist">
        <h2>List of Authors</h2>
        @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.teacherId">@teacher.teacherFname @teacher.teacherlname</a></div>
        </div>
    }
    </div>
